<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>掌印 - 掌控印章安全</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="../resources/images/favicon.ico">
<link rel="stylesheet" href="../resources/css/basic.css">
<link rel="stylesheet" href="../resources/js/plugin/layui/css/layui.css">
<link rel="stylesheet" href="../resources/css/style.css">
<script src="../resources/js/plugin/jquery-1.10.2.min.js"></script>
<script src="../resources/js/plugin/layui/layui.js"></script>
<script src="../resources/js/common.js"></script>
</head>

<body>
    <!-- 右侧弹窗 -->
    <div class="com_txt_box com_form_view">
        
        <div class="fixbar">
            <div class="btn">
                <a class="print" href="javascript:;" title="打印"></a>
                <a class="del layer" data-type="del_btn" href="javascript:;" title="删除"></a>
            </div><!-- btn -->
            
            <ul class="tab_btn">
                <li class="on">详情一</li>
                <li>详情二</li>
            </ul><!-- tab_btn -->
        </div><!-- fixbar -->
        
        <div class="box_cont">
            <div class="tab_info">
                <div class="a_tab_info view">
					<h2><i>必填项</i></h2>
                    <ul class="layui-form">
                        <li class="layui-form-item">
                            <label class="layui-form-label">文件名称</label>
                            <div class="view_txt">大宁绿化12区工程盖章</div>
                        </li>
                        
                        <li class="layui-form-item">
                            <label class="layui-form-label">文件类型</label>
                            <div class="view_txt">公司内部文件(限次数不限金额)</div>
                        </li>
                    </ul>
                    
                    <h2><i>附件图片(2)</i></h2>
                    <div class="pic">
                        <b class="a_pic"><img src="http://yunxi-zjk.oss-cn-shanghai.aliyuncs.com/datas/115572740/2017/2017-09/2017-09-05/f6106b34-6296-4f7d-8786-17062abcbd62.jpeg" /></b>
                        <b class="a_pic"><img src="http://yunxi-zjk.oss-cn-shanghai.aliyuncs.com/datas/115572740/2017/2017-09/2017-09-05/f6106b34-6296-4f7d-8786-17062abcbd62.jpeg" /></b>
                        <b class="a_pic"><img src="http://yunxi-zjk.oss-cn-shanghai.aliyuncs.com/datas/115572740/2017/2017-09/2017-09-05/f6106b34-6296-4f7d-8786-17062abcbd62.jpeg" /></b>
                        <b class="a_pic"><img src="http://yunxi-zjk.oss-cn-shanghai.aliyuncs.com/datas/115572740/2017/2017-09/2017-09-05/f6106b34-6296-4f7d-8786-17062abcbd62.jpeg" /></b>
                    </div><!-- pic -->
                    
                    <h2><i>附件文件(2)</i></h2>
                    <div class="download_file">
                        <dl><dt>1.layui-master.zip(1.1 MB)</dt><dd><a>下载</a></dd></dl>
                        <dl><dt>2.layui-master.zip(1.1 MB)</dt><dd><a>下载</a></dd></dl>
                    </div><!-- download_file -->

                    
                </div><!-- a_tab_info -->
                
                <div class="a_tab_info hide">

                </div><!-- a_tab_info -->
            </div><!-- tab_info -->
            
        </div><!-- box_cont -->
        
        <div class="box_cont_btn">
            <a class="layui-btn layui-btn-big com_btn" href="javascript:;">编辑</a>
            <a class="layui-btn layui-btn-big layui-btn-primary layer_close" href="javascript:;">取消</a>
        </div><!-- box_cont_btn -->
        
    </div><!-- com_right_box -->
</body>
</html>
